.container  {
    padding: 20px;
    flex: 1 0 auto;
}
.container > div {
    padding: 60px 0;
    flex: 1 0 auto;
}
.container > div > h3{
    margin-bottom: 5px;
    font-weight: 400;
}
.update-form {
    margin: 0 auto;
    position: relative;
}
.btn-container{
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    padding-top: 20px;
}

.c-btn-block{
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    border-color: #222;
    color: #333;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.bigbox > select, input{
    margin-top: 15px;
}

.selectbox {
    padding-left: 10px;
}
