{% extends 'shop/base.html' %}
{% load static %}
{% block css%}
    <link rel="stylesheet" href="{% static 'CustomUser/basestyle.css' %}">
{% endblock %}
{% block content %}
    <nav>
        <ul style="list-style: none">
            <li><a href="..">Account OverView</a></li>
            <li><a href="orders">Orders</a></li>
            <li><a href="{% url 'profile' %}">Account info</a></li>
            <li><a href="reviews">Reviews</a></li>
            <li><a href="Loves">Love List</a></li>
            <li><a href="recent">Recently Views</a></li>
        </ul>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    
{% endblock %}