{% extends 'CustomUser/base.html' %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'CustomUser/edit_fit.css' %}">
{% endblock %}
{% block main %}
    <div class="container">
        <div>
            <h3 style="margin-bottom: 10px;">Edit Address</h3>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                    <!-- if {{msg}} exists show it under the error; its an explantion for error -->
                    {% if msg %}
                        <p>{{msg}}</p>
                    {% endif %}
                </div>
            {% endif %}
            <form method="post" id="update_form">
                {% csrf_token %}
                <div class="bigbox">
                    <label style="margin-top: 5px;" for="province">Province</label>
                    <div class="selectbox">
                        <select style="margin-top: 6px;" name="province" id="province" class="form-select" aria-label="Default select example">
                        </select>
                    </div>
                    <label style="margin-top: 5px;" for="city">City</label>
                    <div class="selectbox">
                        <select style="margin-top: 6px;" name="city" id="city" class="form-select" aria-label="Default select example">
                        </select>
                    </div>
                    <label style="margin-top: 5px;" for="address">Address</label>
                    <input type="text" class="form-control" placeholder="address" name="address" value="{{address.address}}" id="address" style="padding-left: 10px;">
                    <label style="margin-top: 5px;" for="   postal_code">Postal Code</label>
                    <input type="text" class="form-control" placeholder="postal_code" name="postal_code"  value="{{address.postal_code}}" id="postal_code" style="padding-left: 10px;" maxlength="10" minlength="10">
                </div>
                <div class="btn-container" style="margin-top: 5px;">
                    <button type="submit" class="c-btn-block" >
                        UPDATE
                    </button>
                </div>
                <div style="text-align: center; margin-top: 20px;">
                    <a href="/user/profile" style="text-decoration: underline; cursor: pointer;color: #000;"
                    aria-label="Cancel edit fit details">CANCEL</a>
                </div>
            </form>
        </div>
    </div>
    <script>
        // send ajax to get provinces and fill the select box
        var first = true;
        $('#province').change(function() {
            $.ajax({
                url: "{% url 'load_cities2' %}",
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'province_id': $('#province').val()
                },
                success: function(data) {
                    console.log(data);
                    $('#city').empty();
                    var cities = data.cities;
                    var pk;
                    for (var i = 0; i < cities.length; i++) {
                        $('#city').append('<option value="' + cities[i][0] + '">' + cities[i][1] + '</option>');
                        if (cities[i][1] == '{{address.city}}') {
                            pk = cities[i][0];
                        }
                    }
                    console.log('HER');
                    if (first){
                        $('#city').val(pk);
                        first = false;
                    }
                }
            });
        });
        $.ajax({
            url: "{% url 'load_provinces' %}",
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(data) {
                var provinces = data.provinces;
                var pk;
                for (var i = 0; i < provinces.length; i++) {
                    $('#province').append('<option value="' + provinces[i][0] + '">' + provinces[i][1] + '</option>');
                    if (provinces[i][1] == '{{address.province}}') {
                        pk = provinces[i][0];
                    }
                }
                // select {{address.province}} as default province and 
                // console.log("h:",{{address.province.pk}});
                $('#province').val(pk);
                $('#province').change();
            }
        });
        // add event listener to province select box, on change send an ajax request to get the cities and fill the select box
        
    </script>
{% endblock %}