{% extends 'CustomUser/base.html' %}
{% load static %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'CustomUser/update_password.css' %}">
{% endblock %}
{% block main %}
    <div class="container">
        <div>
            {% if error %}
                <div class="alert alert-danger" style="margin-bottom: 10px;">
                    {{ error }}
                </div>
            {% endif %}
            <h3 style="margin-bottom: 10px;">Update Password</h3>
            <form method="post" id="update_form">
                {% csrf_token %}
                <div class="textbox">
                    <label for="current_password">Current Password</label>
                    <input type="password" class="form-control" placeholder="Current Password" name="current_password" id="current_password" style="padding-left: 10px;">
                </div>
                <div class="textbox">
                    <label for="new_password">New Password</label>
                    <input type="password" class="form-control" placeholder="New Password" name="new_password" id="new_password" style="padding-left: 10px;">
                </div>
                <!-- password validateion tests -->
                <div class="validation_text" style="margin-top: 15px;">
                    <h4 id="validation_1">Upper case and lower case letters </h4>
                    <h4 id="validation_2">At least 8 characters</h4>
                    <h4 id="validation_3">Number</h4>
                    <h4 id="validation_4">Special character (!@#$%)</h4>
                </div>
                <div class="btn-container" style="margin-top: 5px;">
                    <button type="submit" class="c-btn-block">UPDATE PASSWORD</button>
                </div>
                <div style="text-align: center; margin-top: 20px;">
                    <a href="/user/profile" style="text-decoration: underline; cursor: pointer;color: #000;"
                    aria-label="Cancel edit fit details">CANCEL</a>
                </div>
            </form>
        </div>
    </div>
    <script>
        // check password validation on new_password input change if its not empty. if any of the validation test fails, make the text red. otherwise make it gree.
        $('#new_password').on('input', function() {
            var new_password = $('#new_password').val();
            var validation_1 = /[A-Z]/.test(new_password);
            var validation_2 = /[a-z]/.test(new_password);
            var validation_3 = /[0-9]/.test(new_password);
            var validation_4 = /[!@#$%]/.test(new_password);
            if (new_password === ''){
                $('#validation_1').css('color', '#000');
                $('#validation_2').css('color', '#000');
                $('#validation_3').css('color', '#000');
                $('#validation_4').css('color', '#000');
                return;
            }
            if (new_password.length < 8) {
                $('#validation_2').css('color', 'red');
            } else {
                $('#validation_2').css('color', 'green');
            }
            if (!validation_1 || !validation_2) {
                $('#validation_1').css('color', 'red');
            } else {
                $('#validation_1').css('color', 'green');
            }
            if (!validation_3) {
                $('#validation_3').css('color', 'red');
            } else {
                $('#validation_3').css('color', 'green');
            }
            if (!validation_4) {
                $('#validation_4').css('color', 'red');
            } else {
                $('#validation_4').css('color', 'green');
            }
        });
        // submit form if all the validation tests are passed.
        $('#update_form').submit(function(e) {
            var new_password = $('#new_password').val();
            var validation_1 = /[A-Z]/.test(new_password);
            var validation_2 = /[a-z]/.test(new_password);
            var validation_3 = /[0-9]/.test(new_password);
            var validation_4 = /[!@#$%]/.test(new_password);
            if (new_password === ''){
                return false;
            }
            if (new_password.length < 8) {
                return false;
            }
            if (!validation_1 || !validation_2) {
                return false;
            }
            if (!validation_3) {
                return false;
            }
            if (!validation_4) {
                return false;
            }
            return true;
        });
    </script>
{% endblock %}